<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/donasein"
        android:label="@string/app_name"
        android:roundIcon="@drawable/donasein"
        android:supportsRtl="true"
        android:theme="@style/Theme.Donasein"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.faq.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.aboutUs.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.donateDetail.DetailDonateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donateStatus.StatusDonateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.submission.SubmissonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.StartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codenesia.donasein"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>